
body{
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: palevioletred;
}



.container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    
}

input{
    padding: 20px;
}