
body{
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
}

input {
    margin: 100px;
    padding: 10px;
}
